.app {
    display: flex;
    height: 100%;
}

button {
    border: none;
}

button:focus {
    outline: none;
}

.app .sidebar {
    flex-grow: 1;
    flex-basis: 20%;
    background-color: #eee;
    display: flex;
    flex-direction: column;
}

.app .main {
    flex-grow: 2;
    flex-basis: 80%;
}

.icon-plus-sign:before {
    content : '+';
    font-size: 12px;
}

.icon-plus-minus:before {
    content : '-';
    font-size: 12px;
}

variables-accordion button:not(.toggle) {
    background: #eee;
    width: 100%;
    cursor: pointer;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid white;
    text-align: left;
    padding: 9px;

}

variables-accordion button.toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #eee;
}

variables-accordion .hierarchical-group > header button:not(.variable-button) {
    font-size: 14px;
}

variables-accordion .hierarchical-group > header button:not(.variable-button):before {
    content: 'group - ';
}

variables-accordion scalar-variable .behavioral-variable button {
    font-size: 12px;
}

variables-accordion scalar-variable .behavioral-variable button:before {
    content: 'variable - ';
}

variables-accordion .hierarchical-variable.composite header {
    display: flex;
}
cr-table h2 {
    font-size: 16px;
    font-weight: 600;
}
cr-table > div {
    display: flex;
    flex-direction: row;
    font: 10pt/13pt Helvetica, Arial, sans-serif;
    padding: 12px;
}
cr-table .result {
    flex: 2 1 50%;
}
cr-table .doc {
    flex: 2 1 50%;
}
cr-table table {
    display: block;
}
cr-table table th {
    text-align: left;
}
cr-table table td {
    text-align: right;
}
cr-table p {
    display: block;
    margin: 12px;
    color: #468;
}